lib/
bin/
.cache
.local
.private
.shared

src/version.h
src/version.rc

# cmake
CMakeFiles/
build/

# VSCode files
.vscode/
*.code-workspace
*.code-search

# File extensions to ignore
*.dll
*.exe
*.pdb
*.obj
*.log
*.tmp
*.bak
*.zip
*.tar.gz
*.7z
